# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Environment
# -------------------------
.env
venv/

# -------------------------
# Database
# -------------------------
*.db


# -------------------------
# Editor
# -------------------------
.vscode/

# -------------------------
# OS files
# -------------------------
.DS_Store

# -------------------------
# Unnecessary scripts
# -------------------------
get-pip.py